doctype html
html(lang='en')
  head
    title Welcome
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    != messages()    
    .menu
      if !user
       ul       
        li(class=(title == 'Sign up' ? 'active' : ''))
          a(href='/signup') Sign up
        li(class=(title == 'Login' ? 'active' : ''))
          a(href='/login') Login
      if user
       ul.right
        li
          a(href='/logout') Logout
    .container
     block content    
   