body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  	color: inherit;
    text-decoration: inherit;
}

div {
	margin-bottom: 5px;
}
.menu {
	background-color: rgba(30, 59, 76, 0.7);
}
.menu ul {        
    list-style: none;
    padding: 10px;
    display: inline-block;
    margin: 0;
}
.menu li {
	display: inline-block;
    background-color: #fff;
    padding: 10px;
    margin-right: 10px;
    color: #474e69;
    text-decoration: none;
}
.menu li:hover, .menu li.active {
	text-decoration: underline;
}
.right {
	float: right;
}

p {
    margin: 10px 0;
}

h2 {
    margin-bottom: 20px;
    color: #474e69;
}

input[type=text],
input[type=password],
input[type=date],
input[type=email],
textarea {
    padding: 10px;
    border: 1px solid #e5e5e5;
    width: 250px;
    color: #666;
    box-shadow: 0 0 2px #e5e5e5;

    &:focus,
    &:hover {
        outline: none ;
        border: 1px solid #e6e6e6;
        box-shadow: #e6e6e6 0 0 2px;
    }
}

input.input-error, 
textarea.input-error {
	outline: none;
	box-shadow: #f00 0 0 2px;
	border: 1px solid #f00;
}

.error-msg {
	font-weight: bold;
	color: #f00;
}

textarea {
    width: 100%;
    height: 300px;
    max-width: 800px;
    line-height: 18px;
}


label {
    color: #333;
    display: inline-block;
    width: 90px;
    line-height: 40px;
}

input[type=submit] {
    width: 100px;
    height: 40px;
    background-color: rgba(30, 59, 76, 0.7);
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    border: 0;
}

#messages {
	position: fixed;
	top: 60px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 300px;
	height: 50px;	
	color: #fff;
	text-align: center;
}
#messages ul {
	list-style: none;
	padding: 0;	
}